<app-dropdown>
    <ng-container dropdown-button>
        <i class="flag-icon flag-icon-tr"></i>
    </ng-container>
    <ng-container dropdown-menu>

        <a href="#" class="dropdown-item">
            <i class="flag-icon flag-icon-us mr-2"></i> English
        </a>
        
        <a href="#" class="dropdown-item active">
            <i class="flag-icon flag-icon-es mr-2"></i> Español
        </a>
    </ng-container>
    <!-- <ng-container *ngFor="let language of languages">
        <a class="dropdown-item" href="javascript:;" (click)="changeLanguage(language.code)">
            <i class="flag-icon flag-icon-{{language.code}}"></i>
            <span>{{language.name}}</span>
        </a> -->
</app-dropdown>
